<app-advertisement></app-advertisement>
<mat-toolbar fxLayout="row">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <app-header></app-header>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" style="height: 89vh;">
    <mat-sidenav #drawer mode="side" [opened]="!(isSmallScreen)" role="navigation" fxHide.gt-sm="false">
        <app-sidebar fxLayout="column" fxLayoutGap="0px"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
        <app-menu-top fxLayout="row"></app-menu-top>
        <mat-drawer-container style="padding: 1rem;">
            <router-outlet></router-outlet>
        </mat-drawer-container>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer fxLayout="row"></app-footer>