<mat-card fxFlex fxLayoutAlign="space-between center" fxHide fxShow.gt-sm >
  <mat-card-content style="display: flex; flex-direction: column;" fxFlex  fxLayout fxLayout="column">
    <img mat-card-image src="../assets/advertisement/logo-bmw.png" mat-drawer-container />
    <!-- <img mat-card-image src="./assets/advertisement/kisspng-bmw-5-series-gran-turismo.png" mat-drawer-container /> -->
    <img mat-card-image src="../assets/advertisement/kisspng-car-bmw-m3-bmw-m4-bmw-i8-bmw-m4-evo-aero-white-car.png" mat-drawer-container />
  </mat-card-content>
</mat-card>