/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
 
@import "~bootstrap/dist/css/bootstrap.css";*/
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';

@include mat-core();

html,
body {
    height: 100%;
   /*  background-color: gray; */
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}


:root {
    --primary-color: #fff;
    --background-color: #e5e5e5;
    --text-color: #2d2d2d;

    .mat-icon-button {
        outline: none;
    }

    .mat-list-base {
        padding-top: 0px;
    }


}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: rgb(122, 122, 122);
    border-radius: 10px;
}